.vs
MyProject.Common/bin
MyProject.Common/obj
MyProject.Data/bin
MyProject.Data/obj
MyProject.Infrastructure/bin
MyProject.Infrastructure/obj
MyProject.Interface/bin
MyProject.Interface/obj
MyProject.Presentation/bin
MyProject.Presentation/obj
MyProject.Presentation/bin
MyProject.Presentation/obj